html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

button {
  background-color: transparent;
  padding: 0;
  border: 0;
  cursor: pointer;
}

@font-face {
  font-family: "Inter";
  src:
    url("../fonts/Inter-Regular.woff2") format("woff2"),
    url("../fonts/Inter-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "DM Serif Text";
  src:
    url("../fonts/DMSerifText-Regular.woff2") format("woff2"),
    url("../fonts/DMSerifText-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src:
    url("../fonts/Poppins-Regular.woff2") format("woff2"),
    url("../fonts/Poppins-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src:
    url("../fonts/Poppins-SemiBold.woff2") format("woff2"),
    url("../fonts/Poppins-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
body {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  color: #2f2f2f;
}
.container {
  max-width: 1320px;
  padding: 0 10px;
  margin: 0 auto;
}
.conteiner-header {
  max-width: 1440px;
  padding: 0 10px;
  margin: 0 auto;
}
.header {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
}
.header,
.hero {
  background-color: #35736e;
  color: #ffffff;
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}
.header__right {
  display: flex;
  align-items: center;
  gap: 110px;
}

.menu__list {
  display: flex;
  gap: 34px;
}
.menu__link {
  display: inline-block;
  position: relative;
  padding: 5px;
}
.menu__link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 5px;
  background-color: #ffd748;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.3s ease;
}
.menu__link:hover:after {
  transform: scaleX(1);
}
.hero__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 45px;
  margin-bottom: 20px;
}
.hero__text {
  max-width: 540px;
}
.hero__title {
  display: flex;
  font-family: "DM Serif Text", sans-serif;
  color: #ffffff;
  font-size: 55px;
  line-height: 1.36;
  font-weight: 400;
  margin-bottom: 70px;
}
.hero-btn {
  display: flex;
  gap: 24px;
}

.main__btn {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  padding: 10px 45px;
  border-radius: 30px;
  background-color: #35736e;
  border: 1px solid #ffffff;
}
.shop-btn {
  background-color: #ffd748;
  border: 1px solid #ffd748;
  padding: 10px 30px;
}
.explore-btn {
  color: #ffffff;
}
.hero__img {
  position: relative;
}
.hero__img-main {
  position: relative;
  max-width: 760px;
  z-index: 2;
}
.hero-dekor {
  position: absolute;
  width: 260px;
  height: 176px;
  top: 70px;
  left: 520px;
  right: -20px;
  background-image: url(../images/dotted.webp);
  z-index: 1;
}
.material {
  padding-top: 50px;
  margin-bottom: 263px;
}
.material__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 104px;
}
.material__inner-text {
  max-width: 228px;
}
.material-title {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 34px;
  line-height: 1.5;
}
.material-text {
  font-size: 14px;
  font-weight: 400;
  color: #6a6a6a;
  line-height: 1.7;
  margin-bottom: 5px;
}
.main__btn-explore {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  padding: 10px 45px;
  border-radius: 30px;
  background-color: #35736e;
  border: 1px solid #ffffff;
  color: #ffffff;
}
.cart__list {
  display: flex;
  align-items: center;
  gap: 42px;
}
.cart__item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-width: 296px;
  height: 289px;
  background-color: rgba(53, 115, 110, 0.1);
  border-radius: 20px;
}
.cart-img {
  position: absolute;
  bottom: 114px;
}
.cart__item-text {
  position: absolute;
  bottom: 53px;
}
.cart__item-name {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 600;
}
.cart__item-price {
  font-size: 18px;
  font-weight: 700;
}
.cart__item:hover {
  transform: scale(1.04);
  box-shadow: 3px 5px 4px rgba(0, 0, 0, 0.25);
}
.cart__item::after {
  content: "";
  position: absolute;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #2f2f2f;
  bottom: -15px;
  opacity: 0;
  transition:
    opacity 0.3s ease,
    transform 0.3s ease;
}
.cart__item:hover::after {
  opacity: 1;
  transform: scale(1.3);
  box-shadow: 3px 5px 4px rgba(0, 0, 0, 0.25);
}
.about-us {
}
.title__about {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 34px;
  line-height: 1.5;
}
.choose-us__box {
  display: flex;
  justify-content: space-between;
  margin-bottom: 70px;
}
.choose-us__box-inner {
  display: flex;
  position: relative;
  top: -44px;
  flex-direction: column;
  width: 540px;
}
.choose-us__text {
  width: 444px;
  margin-bottom: 25px;
}
.choose-title {
  margin-bottom: 16px;
}
.choose-text {
  font-size: 14px;
  font-weight: 400;
  color: #6a6a6a;
  line-height: 1.7;
  margin-bottom: 5px;
}

.choose__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 46px;
}
.choose__item {
  min-width: 247px;
  margin-bottom: 24px;
}
.choose-img {
}
.choose__list-title {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.5;
}
.choose__list-text {
  font-size: 14px;
  font-weight: 400;
  color: #6a6a6a;
  line-height: 1.7;
  margin-bottom: 5px;
}
.about-img {
  position: relative;
}
.about-us__img {
  position: relative;
  border-radius: 10px;
  box-shadow: 3px 5px 4px rgba(0, 0, 0, 0.25);
  z-index: 2;
}
.choose-dekor {
  position: absolute;
  width: 260px;
  height: 176px;
  top: -48px;
  left: -81px;
  right: -20px;
  background-image: url(../images/dotted.webp);
  z-index: 1;
}
.we-help {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  margin-bottom: 210px;
}
.help-img {
}
.we-help__img-1 {
}
.we-help__img-2 {
}
.we-help__img-3 {
}
.help__text-box {
}
.help__title {
}
.help-text {
  font-size: 14px;
  font-weight: 400;
  color: #6a6a6a;
  line-height: 1.7;
  margin-bottom: 5px;
}
.help-box {
}
.help__list {
}
.help__list-item {
}
.help__list-text {
  font-size: 14px;
  font-weight: 400;
  color: #6a6a6a;
  line-height: 1.7;
  margin-bottom: 5px;
}
.main__btn-explore {
}
