html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

button {
  background-color: transparent;
  padding: 0;
  border: 0;
  cursor: pointer;
}

@font-face {
  font-family: "Inter";
  src:
    url("../fonts/Inter-Regular.woff2") format("woff2"),
    url("../fonts/Inter-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "DM Serif Text";
  src:
    url("../fonts/DMSerifText-Regular.woff2") format("woff2"),
    url("../fonts/DMSerifText-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src:
    url("../fonts/Poppins-Regular.woff2") format("woff2"),
    url("../fonts/Poppins-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src:
    url("../fonts/Poppins-SemiBold.woff2") format("woff2"),
    url("../fonts/Poppins-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
body {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  color: #2f2f2f;
}
.container {
  max-width: 1320px;
  padding: 0 10px;
  margin: 0 auto;
}
.conteiner-header {
  max-width: 1440px;
  padding: 0 10px;
  margin: 0 auto;
}
.header {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
}
.header,
.hero {
  background-color: #35736e;
  color: #ffffff;
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}
.header__right {
  display: flex;
  align-items: center;
  gap: 110px;
}

.menu__list {
  display: flex;
  gap: 34px;
}
.menu__link {
  display: inline-block;
  position: relative;
  padding: 5px;
}
.menu__link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 5px;
  background-color: #ffd748;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.3s ease;
}
.menu__link:hover:after {
  transform: scaleX(1);
}
.hero__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 45px;
  margin-bottom: 20px;
}
.hero__text {
  max-width: 540px;
}
.hero__title {
  display: flex;
  font-family: "DM Serif Text", sans-serif;
  color: #ffffff;
  font-size: 55px;
  line-height: 1.36;
  font-weight: 400;
  margin-bottom: 70px;
}
.hero-btns {
  display: flex;
  gap: 24px;
}
.main__btn {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  padding: 10px 45px;
  border-radius: 30px;
  background-color: #35736e;
  border: 1px solid #ffffff;
}
.hero__btn {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  padding: 10px 45px;
  border-radius: 30px;
  background-color: #35736e;
  border: 1px solid #ffffff;
}

.hero__btn:hover {
  border: 1px solid #ffd748;
  color: #ffd748;
}
.shop-btn {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  padding: 10px 30px;
  border-radius: 30px;
  position: relative;
  transition: all 0.3s;
  overflow: hidden;
  z-index: 1;
}
.shop-btn::after {
  content: "";
  border-radius: 30px;
  width: 100%;
  bottom: 0;
  left: 0;
  height: 100%;
  position: absolute;
  background-color: #ffd748;
  border: 1px solid #ffd748;
  z-index: -2;
}
.shop-btn::before {
  content: "";
  border-radius: 30px;
  width: 0%;
  bottom: 0;
  left: 0;
  height: 100%;
  position: absolute;
  transition: all 0.3s;
  background-color: #35736e;
  z-index: -1;
}
.shop-btn:hover {
  color: #ffffff;
  border: 1px solid #ffffff;
}
.shop-btn:hover:before {
  width: 100%;
}
.explore-btn {
  color: #ffffff;
}
.hero__img {
  position: relative;
}
.hero__img-main {
  position: relative;
  max-width: 760px;
  z-index: 2;
}
.hero-dekor {
  position: absolute;
  width: 260px;
  height: 176px;
  top: 70px;
  left: 520px;
  right: -20px;
  background-image: url(../images/dotted.webp);
  z-index: 1;
}
.material {
  padding-top: 50px;
  margin-bottom: 263px;
}
.material__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 104px;
}
.material__inner-text {
  max-width: 228px;
}
.material-title {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 34px;
  line-height: 1.5;
}
.material-text {
  font-size: 14px;
  font-weight: 400;
  color: #6a6a6a;
  line-height: 1.7;
  margin-bottom: 5px;
}
.main__btn-explore {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  padding: 10px 45px;
  border-radius: 30px;
  position: relative;
  overflow: hidden;
  z-index: 1;
  color: #ffffff;
}
.main__btn-explore::after {
  content: "";
  position: absolute;
  border-radius: 30px;
  background-color: #35736e;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  transition: all 0.3s;
  z-index: -2;
}
.main__btn-explore::before {
  content: "";
  position: absolute;
  border-radius: 30px;
  background-color: #ffd748;
  width: 0%;
  height: 100%;
  bottom: 0;
  left: 0;
  transition: all 0.3s;
  z-index: -1;
}
.main__btn-explore:hover {
  color: #000000;
  border: 1px solid #ffd748;
}
.main__btn-explore:hover::before {
  width: 100%;
}
.cart__list {
  display: flex;
  align-items: center;
  gap: 42px;
}
.cart__item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-width: 296px;
  height: 289px;
  background-color: rgba(53, 115, 110, 0.1);
  border-radius: 20px;
}
.cart-img {
  position: absolute;
  bottom: 114px;
}
.cart__item-text {
  position: absolute;
  bottom: 53px;
}
.cart__item-name {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 600;
}
.cart__item-price {
  font-size: 18px;
  font-weight: 700;
}
.cart__item:hover {
  transform: scale(1.04);
  box-shadow: 3px 5px 4px rgba(0, 0, 0, 0.25);
}
.cart__item::after {
  content: "";
  position: absolute;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #2f2f2f;
  bottom: -15px;
  opacity: 0;
  transition:
    opacity 0.3s ease,
    transform 0.3s ease;
}
.cart__item:hover::after {
  opacity: 1;
  transform: scale(1.3);
  box-shadow: 3px 5px 4px rgba(0, 0, 0, 0.25);
}

.title__about {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 34px;
  line-height: 1.5;
}
.choose-us__box {
  display: flex;
  justify-content: space-between;
  margin-bottom: 112px;
}
.choose-us__box-inner {
  display: flex;
  position: relative;
  top: -44px;
  flex-direction: column;
  width: 540px;
}
.choose-us__text {
  width: 444px;
  margin-bottom: 25px;
}
.choose-title {
  margin-bottom: 16px;
}
.choose-text {
  font-size: 14px;
  font-weight: 400;
  color: #6a6a6a;
  line-height: 1.7;
  margin-bottom: 5px;
}

.choose__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 46px;
  position: relative;
}
.choose__item {
  min-width: 247px;
  margin-bottom: 24px;
}
.choose__item img {
  margin-bottom: 11px;
}
.choose__icon {
  display: inline-block;
  position: relative;
}
.ellipse {
  position: absolute;
  width: 33px;
  height: 33px;
  background: url(../images/ellipse.svg);
  top: 4px;
  left: 10px;
}
.choose__list-title {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.5;
  margin-bottom: 9px;
}
.choose__list-text {
  font-size: 14px;
  font-weight: 400;
  color: #6a6a6a;
  line-height: 1.7;
  margin-bottom: 5px;
}
.about-img {
  position: relative;
}
.about-us__img {
  position: relative;
  border-radius: 10px;
  box-shadow: 3px 5px 4px rgba(0, 0, 0, 0.25);
  z-index: 2;
}
.choose-dekor {
  position: absolute;
  width: 260px;
  height: 176px;
  top: -48px;
  left: -81px;
  right: -20px;
  background-image: url(../images/dotted.webp);
  z-index: 1;
}
.we-help {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  margin-bottom: 210px;
}
.help-gallery {
  display: flex;
  gap: 12px;
  position: relative;
  left: 80px;
}
.left img {
  width: 100%;
  height: auto;
}
.right {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.right img {
  width: 100%;
  height: auto;
}
.we-help__img-1 {
  border-radius: 10px;
}
.we-help__img-2 {
  max-width: 187px;
}
.we-help__img-3 {
  position: absolute;
  max-width: 291px;
  bottom: -36px;
  left: 379px;
}
.help__text-box {
  max-width: 470px;
  position: relative;
  top: 30px;
}
.help__title {
  font-family: "Poppins", sans-serif;
  font-size: 34px;
  font-weight: 600;
  line-height: 1.2;
  max-width: 393px;
  margin-bottom: 26px;
}
.help-text {
  font-size: 14px;
  font-weight: 400;
  color: #6a6a6a;
  line-height: 1.7;
  margin-bottom: 5px;
  max-width: 444px;
  margin-bottom: 30px;
}

.help__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 22px 62px;
  padding-left: 17px;
  list-style: circle;
  margin-bottom: 53px;
}
.help__list li::marker {
  color: #35736e;
}

.help__list-text {
  font-size: 14px;
  font-weight: 400;
  color: #6a6a6a;
  line-height: 1.7;
}
.help-dekor {
  position: absolute;
  width: 260px;
  height: 165px;
  top: -48px;
  left: -81px;
  right: -20px;
  background-image: url(../images/dotted-grey.webp);
  z-index: -1;
}
.info {
  margin-bottom: 115px;
}
.info__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.info__item {
  display: flex;
  max-width: 342px;
}
.info-img {
  background-color: rgba(53, 115, 110, 0.1);
  width: 98px;
  height: 93px;
  border-radius: 10px;
  padding: 5px;
}
.info-img img {
  position: relative;
  bottom: 20px;
}
.info__item-box {
  padding-left: 33px;
}
.info_title {
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.57;
}
.info-text {
  font-size: 14px;
  line-height: 1.57;
  color: #6a6a6a;
  margin-bottom: 10px;
}
.info-link {
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.57;
  color: #6a6a6a;
}
.reviews {
  max-width: 840px;
  margin: 0 auto;
}
.reviews__slide,
.swiper-slide {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.reviews__title {
  font-family: "Poppins", sans-serif;
  font-size: 34px;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 44px;
  text-align: center;
}
.reviews__slider {
  position: relative;
  margin-bottom: 130px;
}
.swiper {
  margin-bottom: 40px;
  padding: 0 10px;
  overflow: hidden;
  position: relative;
  z-index: 1;
}

.swiper-slide {
  /* max-width: 759px; */
  margin: 0 auto;
  text-align: center;
}

.reviews__text {
  /* max-width: 759px; */
  padding: 0 10px;
  margin-bottom: 40px;
  font-size: 18px;
  line-height: 1.7;
  color: #444;
  min-height: 330px;
}

.reviews_slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
}
.reviews_slide img {
  margin-bottom: 13px;
}
.reviews__author {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  margin-bottom: 10px;
}
.swiper-wrapper {
  align-content: center;
}
.slide__title {
  font-weight: 600;
  margin: 5px 0;
}

.slide__descr {
  font-size: 14px;
  color: #666;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 30px;
  left: -70px;
  right: -70px;
  z-index: 2;
}

.button-prev,
.button-next {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.button-prev::before,
.button-next::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 64px;
  height: 64px;
  transform: translate(-50%, -50%);
}
.button-prev {
  background-color: #e8e8e8;
}

.button-next {
  background-color: #e8e8e8;
}

/* сама стрілка */
.button-prev svg,
.button-next svg {
  transition: stroke 0.3s ease;
}

/* Hover: сіра кнопка стає жовтою */
.button-prev:hover {
  background-color: #f2c94c;
}

/* Hover: жовта кнопка трохи темнішає, а не зникає */
.button-next:hover {
  background-color: #e0b93e;
}

/* якщо хочете, щоб і стрілка міняла колір на hover */
.button-prev:hover svg path,
.button-next:hover svg path {
  stroke: #222;
}
